# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env

# Flutter
frontend/.dart_tool/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.packages
frontend/build/
frontend/.metadata
frontend/pubspec.lock

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Docker
pgdata/
miniodata/

# OS
Thumbs.db
